@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color:#f0efe9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}